* {
    font-family: "Droid Sans", sans-serif;
}

.formCard {
    text-align: center;
    width: 25%;
}

.formCard {

}

.columns {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-around;
}

.columns > div {
    width: 24%;
    min-height: 400px;
}

.columns > div > h2{
    text-align: center;
}

li {
    cursor: pointer;
}

.completedTask {
    text-decoration: line-through;
    cursor: default;
    pointer-events: none;
}

.card {
    background-color: lightgrey;
    padding: 20px 20px;
    border-radius: 5px;
    border: 2px solid black;
    width: 60%;
    max-width: 100%;
    margin: 20px auto;
}

.card  > h2 {
    margin: 0 0 20px 0;
    word-break: break-all;
}

.card  > h4 {
    margin: 10px 0 10px 0;
}

.card > p {
    word-break: break-all;
}

input {
    border: 2px solid black;
    border-radius: 5px;
    height: 25px;
    padding-left: 10px;
    font-size: 16px;
    width: 250px;
}

.addBtn {
    margin-top: 20px;
}

.addCard > div {
    margin: 10px;
}

.addCard > div > p {
    font-size: 20px;
    margin: 20px 0 10px 0;
}

.addCard > div > p:first-of-type {
    margin: 0px 0 10px 0;
}

textarea {
    width: 250px;
    max-width: 250px;
    min-width: 250px;
    height: 23px;
    max-height: 250px;
    min-height: 23px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 4px 0 0 10px;
}

.addCardName {
    margin: 20px 0 40px 0;
}

.btn {
    height: 35px;
    width: 200px;
    cursor: pointer;
}

.min {
    font-size: 11px;
    color: gray;
    position: absolute;
}

/* Модально окно */

.modalBackgrVis{
    top: 0;
    margin: 0;
    left: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 1;
    pointer-events: auto;
}

.modalWindow{
    top: 15%;
    width: 100%;
    max-width: 300px;
    margin: 1% auto;
    padding: 2%;
    background: white;
    border-radius: 3px;

}

form {
    position: relative;
}

.cross {
    transform: rotate(45deg);
    width: 10px;
    margin: 0;
    position: absolute;
    right: 20px;
    top: 0;
    cursor: pointer;
}

/* Drag and Drop*/
